@using Term5_RPBDIS_library
@using Term5_RPBDIS_library.models.tables;
@using Microsoft.EntityFrameworkCore;
@{
    var employees = ViewBag.Data as List<Employee>;
    int pageNumber = ViewBag.pageNumber ?? 1;
    int totalPages = ViewBag.totalPages ?? 0;
    ViewBag.PageType = "employee";
    var marks = await (ViewBag.DbContext as ValuatingSystemContext).Marks.ToListAsync();
    var divisions = await (ViewBag.DbContext as ValuatingSystemContext).Divisions.ToListAsync();
    var achievements = await (ViewBag.DbContext as ValuatingSystemContext).Achievements.ToListAsync();
}

<html>
<head>
    <title>Работники</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/css/ShowTable.css" type="text/css" />
</head>
<body>
    <nav>
        <a href="/"> На главную </a>
        <span> | </span>
        <a href="/employee/create"> Добавить работника </a>
        <span> | </span>
        <a href="/employee/delete"> Удалить работника </a>
    </nav>

    <table id="table" border="1">
        <tr>
            <th>Код</th>
            <th>Имя</th>
            <th>Дата найма</th>
            <th>Достижение</th>
            <th>Название отдела</th>
            <th>Оценка</th>
        </tr>

        @foreach (Employee employee in employees) {
            <tr>
                <td>
                    <button class="editButton" data-id="@employee.ID">@employee.ID</button>
                </td>

                <td>
                    <button class="editButton" data-id="@employee.ID">@employee.Name</button>
                </td>

                <td>
                    <button class="editButton" data-id="@employee.ID">@employee.HireDate</button>
                </td>

                <td>
                    <button class="editButton" data-id="@employee.ID">@employee.Achievement?.Text</button>
                </td>

                <td>
                    <button class="editButton" data-id="@employee.ID">@employee.Division?.Name</button>
                </td>

                <td>
                    <button class="editButton" data-id="@employee.ID">@employee.Mark?.Value</button>
                </td>
            </tr>
        }
    </table>

    <form class="update-form" action="/employee/update">
        <label> Выберите новую оценку: </label> <br />
        <select name="MarkId">
            <option value=""> Оценка </option>
            @foreach (Mark mark in marks) {

                <option value="@mark.ID">
                    @mark.Value
                </option>
            }
        </select> <br />

        <label> Выберите новый отдел: </label> <br />
        <select name="DivisionId">
            <option value=""> Отдел </option>
            @foreach (Division division in divisions) {

                <option value="@division.ID">
                    @division.ID | @division.Name
                </option>
            }
        </select> <br />

        <label> Выберите достижение: </label> <br />
        <select name="AchievementId">
            <option value=""> Достижение </option>
            @foreach (Achievement achievement in achievements) {

                <option value="@achievement.ID">
                    @achievement.ID | @achievement.Text
                </option>
            }
        </select> <br />

        <label> Введите новую дату найма: </label> <br />
        <input name="HireDate" type="date" /> <br />

        <label> Введите новое имя: </label> <br />
        <input name="Name" type="text" /> <br />

        <input name="Id" id="Id" value="" type="hidden"/>
        <input type="hidden" name="PageNumber" value="@pageNumber" />

        <input type="submit" value="Изменить" />
    </form>

    <script src="/js/ShowTable.js"></script>

    @Html.Partial("_pagingPartial")

</body>
</html>
