@using Term5_RPBDIS_library.models.tables;
@{
    var employees = ViewBag.Data as List<Employee>;
    int pageNumber = ViewBag.pageNumber ?? 1;
    int totalPages = ViewBag.totalPages ?? 0;
}

<html>
<head>
    <title>Работники</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/css/ShowTable.css" type="text/css" />
</head>
<body>
    <h4>
        <a href="/"> На главную </a>
        <span> | </span>
        <a href="/employee/create"> Добавить работника </a>
        <span> | </span>
        <a href="/employee/delete"> Удалить работника </a>
        <span> | </span>
        <a href="/employee/update"> Изменить работника </a>
    </h4>

    <h1>Список работников</h1>
    <table border="1">
        <tr>
            <th>Код</th>
            <th>Имя</th>
            <th>Дата найма</th>
            <th>Достижение</th>
            <th>Название отдела</th>
            <th>Оценка</th>
        </tr>

        @foreach (Employee employee in employees) {
            <tr>
                <td>@employee.ID</td>
                <td>@employee.Name</td>
                <td>@employee.HireDate</td>
                <td>@employee.Achievement?.Text</td>
                <td>@employee.Division?.Name</td>
                <td>@employee.Mark?.Value</td>
            </tr>
        }
    </table>



    <div class="pagination">
        <a href="/employee/showTable?pageNumber=1" class="@(1 == pageNumber ? "active" : "")">1</a>
        @if (pageNumber > 21) {
            <a href="/employee/showTable?pageNumber=@(pageNumber-20)">...</a>
        }
        @for (int i = Math.Max(2, pageNumber - 10); i <= Math.Min(totalPages - 1, pageNumber + 10); i++) {
            <a href="/employee/showTable?pageNumber=@i" class="@(i == pageNumber ? "active" : "")">@i</a>
        }
        @if (pageNumber < totalPages - 20) {
            <a href="/employee/showTable?pageNumber=@(pageNumber+20)">...</a>
        }
        <a href="/employee/showTable?pageNumber=@totalPages" class="@(totalPages == pageNumber ? "active" : "")">@totalPages</a>
        <input type="number" id="pageNumberInput" min="1" max="@totalPages" value="@pageNumber" />
        <button onclick="goToPage()">Go</button>
    </div>

    <script>
        function goToPage() {
            var pageNumber = document.getElementById('pageNumberInput').value;
            if (!isNaN(pageNumber) && pageNumber >= 1 && pageNumber <= @totalPages) {
                location.href = "/employee/showTable?pageNumber=" + pageNumber;
            }
        }
    </script>

</body>
</html>
