@using Term5_RPBDIS_library.models.tables;
@{
    var employees = ViewBag.Employees as List<Employee>;
    var marks = ViewBag.Marks as List<Mark>;
    var divisions = ViewBag.Divisions as List<Division>;
    var achievements = ViewBag.Achievements as List<Achievement>;
}

<html>
<head>
    <title> Изменить работника </title>
</head>
<body>
    <form action="/employee/update">

        <label for="Id"> Выберите работника: </label> <br>
        <select name="Id">
            @foreach (Employee employee in employees) {

                <option value="@employee.ID">
                    @employee.ID | @employee.Name | @employee.Mark.Value | @employee.Division.Name
                </option>
            }
        </select> <br />

        <label> Выберите новую оценку: </label> <br />
        <select name="MarkId">
            <option value="" > Оценка </option>
            @foreach (Mark mark in marks) {
                
                <option value="@mark.ID" >
                    @mark.Value
                </option>
            }
        </select> <br />
        
        <label> Выберите новый отдел: </label> <br />
        <select name="DivisionId">
            <option value=""> Отдел </option>
            @foreach (Division division in divisions) {
                
                <option value="@division.ID">
                    @division.ID | @division.Name
                </option>
            }
        </select> <br />
        
        <label> Выберите достижение: </label> <br />
        <select name="AchievementId">
            <option value=""> Достижение </option>
            @foreach (Achievement achievement in achievements) {
                
                <option value="@achievement.ID">
                    @achievement.ID | @achievement.Text
                </option>
            }
        </select> <br />


        <label> Введите новую дату найма: </label> <br />
        <input name="HireDate" type="date" /> <br />

        <label> Введите новое имя: </label> <br />
        <input name="Name" type="text"/> <br />

        <input type="submit" value="Изменить" />
    </form>
</body>
</html>