@using Term5_RPBDIS_library.models.tables;
@{
    var achievements = ViewBag.data as List<Achievement>;
    int pageNumber = ViewBag.pageNumber ?? 1;
    int totalPages = ViewBag.totalPages ?? 0;
    ViewBag.PageType = "achievement";
}

<html>
<head>
    <title>Достижения</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/css/ShowTable.css" type="text/css" />
</head>
<body>
    <nav>
        <a href="/home">На главную</a>
        <span> | </span>
        <a href="/achievement/create">Добавить достижение</a>
        <span> | </span>
        <a href="/achievement/delete">Удалить достижение</a>
        <span> | </span>
        <a href="/achievement/update">Изменить достижение</a>
    </nav>

    <table border="1">
        <tr>
            <th>Код</th>
            <th>Текст</th>
        </tr>

        @foreach (Achievement achievement in achievements) {
            <tr>
                <td>@achievement.ID</td>
                <td>@achievement.Text</td>
            </tr>
        }
    </table>

    <form class="update-form" action="/achievement/update">

        <label for="Id"> Выберите запись </label> <br />
        <select name="Id">
            @foreach (Achievement achievement in achievements) {
                <option value="@achievement.ID">
                    @achievement.ID @achievement.Text
                </option>
            }
        </select><br />

        <label for="Text"> Введите текст достижения: </label> <br>
        <input type="text" name="Text" required /> <br />
        <input type="hidden" name="PageNumber" value="@pageNumber" />

        <input type="submit" value="Изменить" />
    </form>
    
    @Html.Partial("_pagingPartial")

</body>
</html>