@using Term5_RPBDIS_library.models.tables;
@{
    var realEfficiencies = ViewBag.RealEfficiency as List<RealEfficiency>;
    var dates = ViewBag.Dates as List<Date>;
}


<html>
<head>
    <title> Изменить достигнутое </title>
</head>
<body>
    <h4>
        <a href="/"> На главную </a>
        <span> | </span>
        <a href="/realEfficiency"> Список реальной эффективности </a>
        <span> | </span>
        <a href="/realEfficiency/create"> Добавить реальную эффективность </a>
        <span> | </span>
        <a href="/realEfficiency/delete"> Удалить реальную эффективность </a>
    </h4>

    <form action="/realEfficiency/update">

        <label for="Id"> Выберите запись <br></label>
        <select name="Id">
            @foreach (RealEfficiency realEfficiency in realEfficiencies) {

                <option value="@realEfficiency.ID">
                    @realEfficiency.ID | @realEfficiency.Date.StartDate | @realEfficiency.Date.EndDate | @realEfficiency.Efficiecy
                </option>
            }
        </select><br>

        <label for="Date"> Выберите новый временной период: <br></label>
        <select name="Date">
            <option value=""> Выберите дату </option>
            @foreach (Date date in dates) {

                <option value="@date.ID">
                    @date.ID | @date.StartDate | @date.EndDate 
                </option>
            }
        </select><br />

        <label for="Efficiecy"> Введите новую реальную эффективность: <br></label>
        <input type="number" name="Efficiecy" /><br />

        <input type="submit" value="Изменить" />
    </form>
</body>
</html>