@{
    var responseList = ViewBag.Response as List<string>;
}

<html>
<head>
    <style>
        .row {
            display: flex;
        }

        .column {
            flex: 50%;
            padding: 10px;
        }
    </style>

    <title> Поиск </title>
</head>
<body>
    <h4> 
        <a href="/"> На главную </a> 
        <span> | </span>
        <a href="/search/form2"> К форме 2 </a>
    </h4>

    <div class="row">
        <div class="column">
            <form action="/search/form1" method="post">

                <label for='choosingList'>Выберите таблицу для поиска:<br></label>
                <select name='choosingList' id='choosingList' required>
                    <option value='Achievement'>Достижения</option>
                    <option value='Date'>Даты</option>
                    <option value='Division'>Отделы</option>
                    <option value='Employee'>Работники</option>
                    <option value='Term5_RPBDIS_libraryMark'>Оценки</option>
                    <option value='PlannedEfficiecy'>Планируемая эффективность</option>
                    <option value='RealEfficiecy'>Реальная эффективность</option>
                </select><br>

                <label for='column'>Введите название столбца для поиска по таблице:<br></label>
                <input type='text' name='column' value="@ViewBag.Column" id='column' required /><br>

                <label for='textForSearch'>Введите фрагмент для поиска:<br></label>
                <input type='text' name='textForSearch' value="@ViewBag.TextForSearch" id='textForSearch' required /><br>

                <input type='submit' value='найти'>

            </form>
        </div>

        <div>
            <h5> Результат поиска в таблице @ViewBag.Table по столбцу @ViewBag.Column </h5>
            <h5> Текст для поиска "@ViewBag.TextForSearch" </h5>
            @if (responseList is not null) {

                @foreach (string answer in responseList) {

                    <p> @answer </p>
                }
            }

        </div>
    </div>
</body>
</html>

<script>
    window.onload = function () {
        document.getElementById("choosingList").value = @ViewBag.Table
            }
</script>

