@using Term5_RPBDIS_library.models.tables;
@{
    var data = ViewBag.Data as List<Division>;
}

<html>
<head>
    <title>Отделы</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
</head>
<body>
    <h1>Список отделов</h1>
    <table border="1">
        <tr>
            <th>Код</th>
            <th>Название</th>
            <th>Оценка</th>
            <th>Плариуемая эффективность</th>
            <th>Реальная эффективность</th>
            <th>Начальная дата оценивания</th>
            <th>Конечная дата оценивания</th>
        </tr>

        @foreach (Division division in data) {
            <tr>
                <td>@division.ID</td>
                <td>@division.Name</td>
                <td>@division.Mark?.Value</td>
                <td>@division.PlannedEfficiency?.Efficiecy</td>
                <td>@division.RealEfficiency?.Efficiecy</td>
                <td>@division.RealEfficiency?.Date?.StartDate</td>
                <td>@division.RealEfficiency?.Date?.EndDate</td>
            </tr>
        }
    </table>
</body>
</html>
