@using Term5_RPBDIS_library.models.tables;
@{
    var divisions = ViewBag.Divisions as List<Division>;
    var marks = ViewBag.Marks as List<Mark>;
    var plannedEfficiencies = ViewBag.PlannedEfficiencies as List<PlannedEfficiency>;
    var realEfficiencies = ViewBag.RealEfficiencies as List<RealEfficiency>;
}

<html>
<head>
    <title> Изменить отделение </title>
</head>
<body>
    <form action="/division/update">

        <label for="Id"> Выберите запись <br></label>
        <select name="Id">
            @foreach (Division division in divisions) {
                <option value="@division.ID">
                    @division.ID | @division.Name | @division.Mark.Value 
                </option>
            }
        </select><br />

        <label> Выберите новую оценку: <br> </label>
        <select name="MarkId">
            <option value="" > Оценка </option>
            @foreach (Mark mark in marks) {
                
                <option value="@mark.ID">
                    @mark.Value
                </option>
            }
        </select><br />

        <label> Выберите новую планируемую эффективность: <br /></label>
        <select name="PlannedEfficiencyId">
            <option value="" > Планируемая эффективность </option>
            @foreach (PlannedEfficiency plannedEfficiency in plannedEfficiencies) {
                
                <option value="@plannedEfficiency.ID">
                    @plannedEfficiency.Efficiecy | @plannedEfficiency.Date.StartDate | @plannedEfficiency.Date.EndDate
                </option>
            }
        </select><br />

        <label> Выберите новую реальную эффективность: <br /></label>
        <select name="RealEfficiencyId">
            <option value=""> Реальная эффективность </option>
            @foreach (RealEfficiency realEfficiency in realEfficiencies) {
                
                <option value="@realEfficiency.ID">
                    @realEfficiency.Efficiecy | @realEfficiency.Date.StartDate | @realEfficiency.Date.EndDate
                </option>
            }
        </select><br />
        
        <label> Введите новое название <br /></label>
        <input type="text" name="Name" /><br />

        <input type="submit" value="Изменить" />
    </form>
</body>
</html>