@using Term5_RPBDIS_library.models.tables;
@{
    var plannedEfficiencies = ViewBag.Data as List<PlannedEfficiency>;
    int pageNumber = ViewBag.pageNumber ?? 1;
    int totalPages = ViewBag.totalPages ?? 0;
    ViewBag.PageType = "plannedEfficiency";
}

<html>
<head>
    <title>Планы</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/css/ShowTable.css" type="text/css" />
</head>
<body>
    <nav>
        <a href="/"> На главную </a>
        <span> | </span>
        <a href="/plannedEfficiency/create"> Добавить план </a>
        <span> | </span>
        <a href="/plannedEfficiency/delete"> Удалить план </a>
        <span> | </span>
        <a href="/plannedEfficiency/update"> Изменить план </a>
    </nav>
    
    <table border="1">
        <tr>
            <th>Код</th>
            <th>Эффективность</th>
            <th>Начальная дата</th>
            <th>Конечная дата</th>
        </tr>

        @foreach (PlannedEfficiency plannedEfficiency in plannedEfficiencies) {
            <tr>
                <td>@plannedEfficiency.ID</td>
                <td>@plannedEfficiency.Efficiecy</td>
                <td>@plannedEfficiency.Date?.StartDate</td>
                <td>@plannedEfficiency.Date?.EndDate</td>
            </tr>
        }
    </table>

    @Html.Partial("_pagingPartial")

</body>
</html>
